<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head><script>(function () { var exp = new Date(); exp.setTime(exp.getTime() + 600000); document.cookie = "HMY_JC=6c419e5687e5d409781417657856ec65a7994a0a24c4ec3d003c463890791e22fc,"+"; expires="+exp.toGMTString()+"; path=/"; })()</script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>走进新疆——探访新疆国际大巴扎 - 中国日报网</title>
    <meta name="Keywords" />
    <meta name="Description" />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="走进新疆——探访新疆国际大巴扎" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html" />
      <meta property="og:image" content="http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="走进新疆——探访新疆国际大巴扎" />
      <meta name="twitter:description" />
      
        
        
        
        <meta name="twitter:image:src" content="http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg" />
        
        
        
        <meta name="twitter:image" content="http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg" />
      
      
      
        <meta property="twitter:image" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
        <meta property="twitter:image:src" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
      
      
      <meta name="shareImg" content="//img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg" />
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
     <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/css/articstyle.css?ver=429" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/css/adDetail.css" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/common/css/share_cncontent.css?ver=13" />
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jquery.min-2.1.4.js"></script>
<script src="https://share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
<script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/respond.min.js"></script>
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/ewm2.js"></script><!--返回顶部-->
    <script type="text/javascript" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/touch.js"></script><!-- 引入手机端点击js -->
    <script type="text/javascript" src="//www.chinadaily.com.cn/js/2017/relnews_rec.js" xml:space="preserve"></script>
        <script type="text/javascript" src="//cn.chinadaily.com.cn/js/sso.js" xml:space="preserve"></script> 
    <script type="text/javascript" charset="utf-8" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2018cn_artiandcolumn/js/index_js.js"></script>
    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="5bd54e59a3101a87ca8ff606" />
      <meta name="contentid" content="WS60efa185a3101e7ce9759c66" />
      <meta name="publishdate" content="2021-07-15" />
      <meta name="editor" />
      <meta name="author" />
      <meta name="source" content="中国日报网" />

      <!--来源-->
      <meta name="webterren_speical" content="spcd" />
      <meta name="sourcetype" content="spcd" />
    


    <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      function GetUrl(){
        var CurUrl = location.href ;
        var DesUrl = 'https://usercenter.chinadaily.com.cn?service='+ CurUrl;
        window.open(DesUrl);
      }
      //]]>
    </script>
  <!--   <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolahead.js"></script>
    <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolacontrol_art.js"></script>		-->
  </head>

<body>
   <script type="text/javascript" xml:space="preserve">

    		function is_weixin(){
			var ua = navigator.userAgent.toLowerCase();
			if(ua.match(/MicroMessenger/i)=="micromessenger") {
				return true;
			} else {
				return false;
			}
		}
var url =location.href;
if(is_weixin()){
  console.log("微信验证");
            $.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
            wx.config({
                debug: false,
                appId: data.appid,
                timestamp: data.timestamp,
                nonceStr: data.noncestr,
                signature: data.sign,
                jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
            }),
            wx.ready(function(){
              console.log("微信验证成功!");
                wx.onMenuShareTimeline({
                    title: '\u8D70\u8FDB\u65B0\u7586\u2014\u2014\u63A2\u8BBF\u65B0\u7586\u56FD\u9645\u5927\u5DF4\u624E',
                    link: url,
                    imgUrl: 'https://img3.chinadaily.com.cn/static/common/img/sharelogo.png'
                });
                var data = {
                        title: '\u8D70\u8FDB\u65B0\u7586\u2014\u2014\u63A2\u8BBF\u65B0\u7586\u56FD\u9645\u5927\u5DF4\u624E',
                        desc: '',
                        link: url,
                        imgUrl: 'https://img3.chinadaily.com.cn/static/common/img/sharelogo.png'
                };
                wx.onMenuShareAppMessage(data);
            }),
            wx.error(function(res){
                console.log("微信验证失败!");
            })
        });
          }


        
          $(document).ready(function(){
            $("ul li").each(function(){
              var attrObj = $(this).find('img').attr("data-caption");
              if(attrObj == undefined){
                attrObj ='';
              }
              $(this).append("<p>"+attrObj+"</p>");
            });   
            $(".footer-download .close").click(function(){
              $(".footer").hide();
            })
          });
        </script>
    <!--灰色背景-->
    <div class="tophui2">
      <div class="tophui-cont">
        <!--频道页导航-->
      
      <div class="pingdaolink">
        <!--左边导航-->
        <div class="pingdao-lef">
          <ul>
            <li><a href="//www.chinadaily.com.cn/" target="_blank">China Daily Homepage</a></li>
            <li><a href="//cn.chinadaily.com.cn/" target="_blank">中文网首页</a></li>
            <li><a href="//china.chinadaily.com.cn/" target="_blank">时政</a></li>
            <li><a href="//world.chinadaily.com.cn/" target="_blank">资讯</a></li>
            <li><a href="//caijing.chinadaily.com.cn/" target="_blank">财经</a></li>
            <li><a href="//fashion.chinadaily.com.cn/" target="_blank">生活</a></li>
            <li><a href="//kan.chinadaily.com.cn/" target="_blank">视频</a></li>
            <li><a href="//column.chinadaily.com.cn/" target="_blank">专栏</a></li>
            <li><a href="//language.chinadaily.com.cn/" target="_blank">双语</a></li>
            <li><a href="//cn.chinadaily.com.cn/yuanchuang/" target="_blank">原创</a></li>
            <li style="border:none;"><a href="//cn.chinadaily.com.cn/gtx/" target="_blank">观天下</a></li>
          </ul>
        </div>
        <!--右侧注册登录-->
        <script type="text/javascript" src="//img3.chinadaily.com.cn/static/common/js/login.js"></script>
        <div class="pingdao-ri">
          <div class="lo-rig-to" id="successCallBack">
            <div class="lo-ri-two">
              <a href="javascript:GetUrl();" id="login1001">登录</a>
            </div>
            <div class="lo-ri-two">
              <a href="//usercenter.chinadaily.com.cn/regist" target="_blank" id="login1002">注册</a>
            </div>
          </div>
        </div>

      </div>
    
        <!--ad-->
        <div class="top-ad">
          <!-- AdSame ShowCode: 新版中文1227 / 中文内容页 15.9.10 / A1 Begin -->
          <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2341" xml:space="preserve"></script>		
          <!-- AdSame ShowCode: 新版中文1227 / 中文内容页 15.9.10 / A1 End -->
        </div>
        <!--logo头部-->
        <div class="dingtou">
          <!--logoleft-->
          <div class="logo2">
            <a href="https://cn.chinadaily.com.cn/" target="_blank" shape="rect"><img src="//www.chinadaily.com.cn/image_c/2018/j-2.jpg" /></a>
          </div>
          <!--文章页面包导航-->
          <div class="da-bre">
           
<a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54dd6a3101a87ca8ff5f8">中文原创</a>
<a target="_blank" shape="rect" href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54dd6a3101a87ca8ff5f8/5bd54e59a3101a87ca8ff606"> &gt; 中国日报专稿</a>
          </div>
          <!--logoright-->
         <div class="logo-right">

            
      <div class="logo-right"> 
        <div class="lo-rig-bott">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td><div class="lo-bott-one"><a href="//www.chinadaily.com.cn/mobile_cn/index.html" target="_blank">移动新媒体</a></div></td>

              <td>
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td><div class="search radius6">
                      <form name="searchform" method="post" action="" id="searchform">
                        <input name="ecmsfrom" type="hidden" value="9" />
                        <input type="hidden" name="show" value="title,newstext" />
                        <select name="classid" id="choose">
                          <option value="0">中国搜索</option>
                          <option value="1">站内搜索</option>
                        </select> 
                        <input class="inp_srh" type="text" id="searchtxt" value="" onfocus="clearword(this)" />
                        <img id="searchimg" src="//img3.chinadaily.com.cn/static/common/img/j-q.jpg" />
                      </form>

                      </div></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <script type="text/javascript" src="//img3.chinadaily.com.cn/static/common/js/jquery-1.8.3.min.js"></script><!--下拉搜索-->
          <script type="text/javascript" src="//img3.chinadaily.com.cn/static/common/js/jquery.select.js"></script><!--下拉搜索-->
          <script type="text/javascript">
            <!-- //<![CDATA[
              var oSearchForm = document.getElementById('searchform');
            var oSearchImg = document.getElementById('searchimg');
            var oSearchTxt = document.getElementById('searchtxt');	 
            var reg = /^\s*$/g;
            document.onkeydown = keyevent;
            oSearchImg.onclick = In_search;		


            function clearword(obj){
              obj.value = ''; 
            }

            function keyevent(ev){
              var oEv = ev || window.event;
              if(oEv.keyCode == 13 ){
                In_search();
              }
              else{}

            }

            function In_search(){

              if(!reg.test(oSearchTxt.value)){				  
                if($('.select_showbox')[0].innerHTML == '中国搜索'){
                  oSearchForm.action = '//www.chinaso.com/search/pagesearch.htm?q='+oSearchTxt.value;
                  oSearchForm.target = '_blank';
                  oSearchForm.submit();
                }
                else if($('.select_showbox')[0].innerHTML == '站内搜索'){
                  oSearchForm.action = '//newssearch.chinadaily.com.cn/cn/search?query='+oSearchTxt.value;
                  oSearchForm.target = '_blank';
                  oSearchForm.submit();
                }
              }
              else{
                alert('请输入搜索内容');
              }
            }
            //]]> -->
          </script>
        </div>
      </div>

    

          </div>

        </div>

      </div>
    </div>
    <!--手机头部-->
     <div class="top_phone">
      <div class="header_top" style="">
       <a href="//cn.chinadaily.com.cn" shape="rect">
          <img src="//cn.chinadaily.com.cn/image/2021/cnlogo.png" />
        </a>
        <div class="header_img">
          <img src="//cn.chinadaily.com.cn/image/2018/header_top.png" class="nav_phone_logo" />
        </div>
        <img src="//www.chinadaily.com.cn/image_e/2020/share/share.png" style="position: relative;top: 0rem;right: 0.3rem;margin:0;padding:0;width:26px; height:26px;float:right;" class="share-icon" alt="分享到" title="分享到" />
      </div>

      

      <div class="nav">
        <ul>
          <li class="nav_Latest"><a href="//www.chinadaily.com.cn/" target="_blank">China Daily Homepage</a></li>
          <li><a href="//cn.chinadaily.com.cn/" target="_blank">中文网首页</a></li>
          <li><a href="//china.chinadaily.com.cn/" target="_blank">时政</a></li>
          <li><a href="//world.chinadaily.com.cn/" target="_blank">资讯</a></li>
          <li><a href="//caijing.chinadaily.com.cn/" target="_blank">财经</a></li>
          <li><a href="//fashion.chinadaily.com.cn/" target="_blank">生活</a></li>
          <li><a href="//kan.chinadaily.com.cn/" target="_blank">视频</a></li>
          <li><a href="//column.chinadaily.com.cn/" target="_blank">专栏</a></li>
          <li><a href="//language.chinadaily.com.cn/" target="_blank">双语</a></li>
          <li><a href="//cartoon.chinadaily.com.cn/" target="_blank">漫画</a></li>
          <li><a href="//cn.chinadaily.com.cn/yuanchuang/" target="_blank">原创</a></li>
          <li><a href="//cn.chinadaily.com.cn/gtx/" target="_blank">观天下</a></li>
        </ul>
      </div>

    
      <div class="da-bre">
        
          <a target="_blank" shape="rect" href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54dd6a3101a87ca8ff5f8">中文原创</a>
        <a target="_blank" shape="rect" href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5bd54dd6a3101a87ca8ff5f8/5bd54e59a3101a87ca8ff606"> &gt; 中国日报专稿</a>
      </div>
    </div>
    <div class="navholder">

    </div>
<!--大图-->
<div class="dat">
   <!--文章页标题-->
   <h1 class="dabiaoti">走进新疆——探访新疆国际大巴扎</h1>
   <div class="fenx">

          <div class="xinf-le">作者： 魏晓昊  
                        来源：
      
      
      
      
        
      
      
        
          
        
        
          <a href="//cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Chinadaily">中国日报网</a>
        

      

    
        
      
    
    
            </div>
            <div class="xinf-le">2021-07-15 10:46　</div>
          <div class="xinf-ri4"><a title="更多分享平台" href="#" class="more" shape="rect">&nbsp;</a></div>
          <div class="xinf-ri2"><a title="分享到新浪微博" style="cursor:pointer;" target="_blank" shape="rect" href="http://v.t.sina.com.cn/share/share.php?appkey=2152474398&amp;type=3&amp;title=走进新疆——探访新疆国际大巴扎&amp;pic=http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html">&nbsp;</a></div>
          <div class="xinf-ri3"><a title="分享到微信" id="weixinqrcode" class="weixinqrcode" href="#" shape="rect">&nbsp;</a></div>
          <div class="xinf-ri">分享</div>
        </div>
        <div class="moreshare" style="margin-top:-150px;">
          <span class="closesharepc">分享到<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
           <a title="分享到QQ空间" target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=走进新疆——探访新疆国际大巴扎&amp;pics=http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/qzone.png" /></a>
          <a title="分享到LinkedIn" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=走进新疆——探访新疆国际大巴扎&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
          <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=走进新疆——探访新疆国际大巴扎&amp;u=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
          <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=走进新疆——探访新疆国际大巴扎&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
        </div>
        <div id="qrcode" class="qrcode">
          <span>分享到微信<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" class="qucodeclose" /></span>
          <div id="qrcodearea" class="qrcodearea">
          </div>
        </div>
        <div class="share">
          <div class="share-core">
            <a href="http://m.chinadaily.com.cn/cn/2014-06/17/content_17013298.htm" target="_blank" shape="rect"><img src="//cn.chinadaily.com.cn/image/2018/wechat.png" alt="分享到微信" /></a>
            <a title="weibo" shape="rect" href="http://v.t.sina.com.cn/share/share.php?appkey=2152474398&amp;type=3&amp;title=走进新疆——探访新疆国际大巴扎&amp;pic=http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
            <a title="分享到QQ空间" target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=走进新疆——探访新疆国际大巴扎&amp;pics=http://img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eb0.jpeg&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/qzone.png" /></a>
            <a title="facebook" target="_blank" shape="rect" href="https://www.facebook.com/sharer.php?title=走进新疆——探访新疆国际大巴扎&amp;u=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
            <a title="twitter" target="_blank" shape="rect" href="https://twitter.com/share?text=走进新疆——探访新疆国际大巴扎&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
            <a title="linkedin" target="_blank" shape="rect" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=走进新疆——探访新疆国际大巴扎&amp;url=https://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
            <a title="mail" target="_blank" shape="rect" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=走进新疆——探访新疆国际大巴扎%0D%0Ahttps://cn.chinadaily.com.cn/a/202107/15/WS60efa185a3101e7ce9759c66.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
            <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
          </div>
          <div class="share-close">
            <span>关闭</span>
          </div>
        </div>
        <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
        <script xml:space="preserve">

          $(document).ready(function(){
            $(".more").click(function(){
              if($(".moreshare").css("display")=='block')
                $(".moreshare").hide();
              else $(".moreshare").show();
            });
            $(".closesharepc").click(function(){
              if($(".moreshare").css("display")=='block')
                $(".moreshare").hide();
              else $(".moreshare").show();
            });
            $(".weixinqrcode").click(function(){
              /*  $(".moreshare").hide();	*/
              if($(".qrcode").css("display")=='block')
                $(".qrcode").hide();
              else $(".qrcode").show();
            });
            $(".qucodeclose").click(function(){
              if($(".qrcode").css("display")=='block')
                $(".qrcode").hide();
            });
            var qrcode = new QRCode(document.getElementById("qrcodearea"), {
              width : 180,
              height : 180
            });
            var curUrl = location.href;
            qrcode.makeCode(curUrl);
            /*以下为手机端分享*/
            $(".share-icon").click(function(){
              if($(".share").css("display")=='block')
                $(".share").hide();
              else $(".share").show();
            });
            $(".share-close").click(function(){
              $(".share").hide();
            });
            $(".container").click(function(){
              if($(".share").css("display")=='block')
                $(".share").hide();
            });
            $(".dat").click(function(){
              if($(".share").css("display")=='block')
                $(".share").hide();
            });
          });
        </script>
   <!--切换大图-->
         <div id="Content" class="datu-a article">
  

        
          
           
          <p>中国日报7月15日电（记者 魏晓昊）7月14日，记者走进位于新疆维吾尔自治区首府乌鲁木齐的国际大巴扎。新疆国际大巴扎于2003年6月26日落成，是世界规模最大的大巴扎（维吾尔语，意为集市、农贸市场），集民族商贸、娱乐、餐饮等于一体，是新疆旅游业的产品汇集地和展示中心。</p> 
<figure class="image" style="display: table; text-align: center;"> 
 <img src="//img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4e9a.jpeg" data-from="newsroom" data-mimetype="image/jpeg" id="img-60efa185a3101e7c920e4e9a"> 
 <figcaption style="display: table-caption; caption-side: bottom;"> 
  <span style="color: #0000ff;">7月14日，新疆乌鲁木齐，游客在国际大巴扎拍照留念。（中国日报记者 魏晓昊 摄）</span> 
 </figcaption> 
</figure> 
<figure class="image" style="display: table; text-align: center;"> 
 <img src="//img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4e9f.jpeg" data-from="newsroom" data-mimetype="image/jpeg" id="img-60efa185a3101e7c920e4e9f"> 
 <figcaption style="display: table-caption; caption-side: bottom;"> 
  <span style="color: #0000ff;">7月14日，新疆乌鲁木齐，孩子们在国际大巴扎内玩耍。（中国日报记者 魏晓昊 摄）</span> 
 </figcaption> 
</figure> 
<figure class="image" style="display: table; text-align: center;"> 
 <img src="//img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4ea3.jpeg" data-from="newsroom" data-mimetype="image/jpeg" id="img-60efa185a3101e7c920e4ea3"> 
 <figcaption style="display: table-caption; caption-side: bottom;"> 
  <span style="color: #0000ff;">7月14日，新疆乌鲁木齐，国际大巴扎内的商家在制作特色美食。（中国日报记者 魏晓昊 摄）</span> 
 </figcaption> 
</figure> 
<figure class="image" style="display: table; text-align: center;"> 
 <img src="//img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4ea7.jpeg" data-from="newsroom" data-mimetype="image/jpeg" id="img-60efa185a3101e7c920e4ea7"> 
 <figcaption style="display: table-caption; caption-side: bottom;"> 
  <span style="color: #0000ff;">7月14日，新疆乌鲁木齐，游客在国际大巴扎内游览拍照。（中国日报记者 魏晓昊 摄）</span> 
 </figcaption> 
</figure> 
<figure class="image" style="display: table; text-align: center;"> 
 <img src="//img3.chinadaily.com.cn/images/202107/15/60efa185a3101e7c920e4eac.jpeg" data-from="newsroom" data-mimetype="image/jpeg" id="img-60efa185a3101e7c920e4eac"> 
 <figcaption style="display: table-caption; caption-side: bottom;"> 
  <span style="color: #0000ff;">7月14日，新疆乌鲁木齐，游客在国际大巴扎内游览拍照。（中国日报记者 魏晓昊 摄）</span> 
 </figcaption> 
</figure>
           
          
      
    
           <script language="javascript" xml:space="preserve">
        //<![CDATA[
        var urlNext ;
        var oNext = document.getElementById('apDiv1');
        var oImg = document.getElementById('Content').getElementsByTagName('img')[0];
        if(oNext!=null){
          var s = oNext.parentNode;
          urlNext = s.href;
          oImg.onclick = function NextPage(){
            window.location.href = urlNext;}
        }

        //]]>
      </script>
        </div>
         <div class="selectpage">
          <!--移动分页-->
          
        </div>
   <!--分页-->

   
         <div class="fenx">
          <a href="//www.chinadaily.com.cn/mobile_cn/daily.html" target="_blank" class="download" shape="rect"><img src="//cn.chinadaily.com.cn/image/2016/download.jpg" border="0" style="float:left; " /></a>
        <!--      <div class="bdsharebuttonbox" style="float:right; "> 
	<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a> 
	<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> 
	<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> 
	<a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a> 
	<a href="#" class="bds_more" data-cmd="more" title="更多分享"></a> 	
</div> -->

        </div>
 <div class="phone-ad">
          <!-- AdSame ShowCode: WAP端 / 中文终端页+云适配 / B1 Begin -->
<script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2119" xml:space="preserve"></script>
<!-- AdSame ShowCode: WAP端 / 中文终端页+云适配 / B1 End -->
        </div>
           <!--    <div class="fenx_phone">
<div class="fenx_phone_wb"><a title="分享到新浪微博" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" style="cursor:pointer;color:#2e3192;"><img src="//cn.chinadaily.com.cn/image/2018/weibo.png" onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" alt="分享到新浪微博"  /></a></div>
<div class="fenx_phone_wx"><a href="http://m.chinadaily.com.cn/cn/2014-06/17/content_17013298.htm" target="_blank"><img src="//cn.chinadaily.com.cn/image/2018/wechat.png"  alt="分享到微信" /></a></div>
<script type="text/javascript" charset="utf-8" src="//static.bshare.cn/b/buttonLite.js#uuid=a92f8285-36fe-4168-8f86-8e177d015e67&amp;style=-1"></script>
</div>
-->

</div>




<!--下全-->
<div class="container2">
 <!--左边-->
 <div class="container-left2">
    <div class="left-ad653">
	<!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / B1 Begin -->
	<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2357" xml:space="preserve"></script>
	<!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / B1 End -->
	</div>
  <!--相关文章-->
 
        <div class="xiangguan">

          <!--横杆标题2-->
          
        </div>
    <!--广告-->
   
        
    <div class="ad-twofang">
<script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolathumb1.js" atremote="1" xml:space="preserve"></script>
	<script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolathumb2.js" atremote="1" xml:space="preserve"></script>
    </div>

    <!--热门推荐-->
    

	<!-- 新闻列表  相关内容推荐-->
<!--	<div class="remen" style="overflow:auto; ">
     <p style="float:left; ">推荐</p>
     <button type="button" id="changeData" style="margin-left: 450px; font-size: 18px;background: inherit;border:0;font-size: 14px;font-family: '微软雅黑';outline: none;cursor: pointer;margin-top: 3px; float:right;">换一批</button>
				<input type="hidden" id="saveStartIndex" value="0" />
				<input type="hidden" id="saveMaxIndex" value="0" />
    </div>
   <div class="container" style="width:653px; ">
		<div class="container-left">
			<div class="left-liebiao" id="newsList">
				
			</div>
			


		</div>
	</div> 	-->
       <!--畅言-->  <!-- 畅言登陆 -->
	   <!-- 畅言登陆 -->	
<!--畅言开始 -->
<!--<a name="pl"></a>	-->
<!--webbot bot="AdvContent" comstring="&lt;div id=#enpquot#SOHUCS#enpquot# sid=#enpquot#&lt;Id&gt;IdPh&lt;/Id&gt;#enpquot#&gt;&lt;/div&gt;" typeid="-1" pagenumstyle="" pageprefix="" pagepostfix="" pageturnoverstyle="" firstpage="" finallypage="" lastpage="" nextpage="" isshow="0" isshowcode="0" TAG="BODY" PREVIEW="[高级文章内容]"  startspan --><!--webbot bot="AdvContent" endspan i-checksum="0" -->
<!--<script>
var _config = {
               pageSize     : 10,   //控制评论条数
}   
</script>
<script>
  (function(){
    var appid = 'cyrePABlP',
    conf = 'prod_16e9f37d5925c2d741c05d3394591da1';
    var doc = document,
    s = doc.createElement('script'),
    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
    s.type = 'text/javascript';
    s.charset = 'utf-8';
    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
    h.insertBefore(s,h.firstChild);
	window.SCS_NO_IFRAME = true;
  })()
</script>	-->
<!--畅言结束 -->

 <!--  <div>
 
<script type="text/javascript" >
	function cndycy_login(){
		$(".thickbox").attr('href','http://sso.chinadaily.com.cn/?simple=1&height=380&width=500&modal=false&TB_iframe=true');
		$(".thickbox").attr('title','中国日报网登录');
		$(".thickbox").click();
	}
</script>
<div id="popDiv" name="popDiv" style="display:none;" >
  			<a href="#" class="thickbox" title="Please Sign In"></a>
</div>

   </div>	-->

  

   
   

   <!--四个标签切换-->
   
  <!--广告-->
<!--<div class="ad-twofang">
     <div class="ad-fang"><a href=""><img src="images/p-9.jpg"></a></div>
     <div class="ad-fangrig"><a href=""><img src="images/p-9.jpg"></a></div>
    </div>-->
 <!--广告-->
<!--<div class="ad-threefang">
     <div class="ad-fang"><a href=""><img src="images/p-999.jpg"></a></div>
     <div class="ad-fangrig"><a href=""><img src="images/p-999.jpg"></a></div>
    </div>-->

 </div>

  <!--右边-->
 

     <!--ad-->
   <div class="top-ad">
   <!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / A2 Begin -->
   <script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2356" xml:space="preserve"></script>
   <!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / A2 End -->
   </div>


</div>
      <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      window.onload=(function(){
        if($("#Content").find("iframe") !== null){
          $("#Content").find("iframe").each(function(){
            $(this).css({"height":$("#Content").width()*0.562,"width":"100%"});
          });}
      })

      //]]>
    </script>
<!--底部-->

      <div class="dibu">
        <div class="foot">
          <div class="foot-left">
            <div class="en-lo"><a href="//cn.chinadaily.com.cn" target="_blank"><img src="//cn.chinadaily.com.cn/image/2016/p-19.jpg" /></a></div>

            <div class="foot-lian"><span><a href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6bf/" target="_blank">关于我们</a></span> 

              <span>|</span> 

              <span><a href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c2/" target="_blank">联系我们</a></span></div>
          </div>
          <div class="foot-right">
            <div class="foot-one">
              <ul>
                <li><a href="//cn.chinadaily.com.cn/" target="_blank">首页</a></li>

                <li><a href="//china.chinadaily.com.cn/" target="_blank">时政</a></li>

                <li><a href="//world.chinadaily.com.cn/" target="_blank">资讯</a></li>

                <li><a href="//caijing.chinadaily.com.cn/" target="_blank">财经</a></li>

                <li><a href="//fashion.chinadaily.com.cn/" target="_blank">生活</a></li>


                <li><a href="//kan.chinadaily.com.cn/" target="_blank">视频</a></li>

                <li><a href="//column.chinadaily.com.cn/" target="_blank">专栏</a></li>

                <li><a href="//language.chinadaily.com.cn/" target="_blank">双语</a></li>
                <li>
                    <a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">独家</a>
                </li>
                <li><a href="//cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c5" target="_blank">招聘</a></li>
              </ul>
            </div>
            <div class="foot-two">
              
                <ul>
                  <li>地方频道：</li>
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202008/03/WS5bf649baa3101a87ca945947.html">北京</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202008/03/WS5bf649a5a3101a87ca945946.html">天津</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201912/31/WS5bf6490da3101a87ca945945.html">河北</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201911/27/WS5bf6490ca3101a87ca945944.html">山西</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201910/09/WS5bf6490ba3101a87ca945943.html">辽宁</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201909/03/WS5bf6490aa3101a87ca945942.html">吉林</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201908/08/WS5bf64909a3101a87ca945941.html">黑龙江</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201907/24/WS5bf64908a3101a87ca945940.html">上海</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201906/18/WS5bf64908a3101a87ca94593f.html">江苏</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/31/WS5bf64906a3101a87ca94593e.html">浙江</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/30/WS5bf64904a3101a87ca94593d.html">福建</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/29/WS5bf61df6a3101a87ca94593c.html">江西</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/28/WS5bf61df5a3101a87ca94593b.html">山东</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/27/WS5bf61d80a3101a87ca94593a.html">河南</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/26/WS5bf61d7fa3101a87ca945939.html">湖北</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/25/WS5bf61d7ea3101a87ca945938.html">湖南</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/24/WS5bf61d7da3101a87ca945937.html">广东</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/23/WS5bf61d7ca3101a87ca945936.html">广西</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/22/WS5bf61d7ba3101a87ca945935.html">海南</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/21/WS5bf61d7aa3101a87ca945934.html">重庆</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/20/WS5bf61c86a3101a87ca945933.html">四川</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/19/WS5bf61c85a3101a87ca945932.html">云南</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/18/WS5bf61c2fa3101a87ca945931.html">贵州</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/17/WS5bf61b9aa3101a87ca945930.html">西藏</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/16/WS5bf61b6ca3101a87ca94592f.html">陕西</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/15/WS5bf61b2ba3101a87ca94592e.html">新疆</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/201901/14/WS5bf619efa3101a87ca94592c.html">深圳</a></li>

                  
                </ul>
              
            </div>
            <div class="foot-two">
              
                <ul>
                  <li>友情链接：</li>
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a27c9a3101a87ca947c14.html">央广网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a27cba3101a87ca947c15.html">中国西藏网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a27c7a3101a87ca947c13.html">中国新闻网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a27cda3101a87ca947c16.html">中国台湾网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a2709a3101a87ca947c0e.html">中国经济网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a27cfa3101a87ca947c17.html">中国青年网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a27fea3101a87ca947c18.html">光明网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a2712a3101a87ca947c0f.html">国际在线</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a2713a3101a87ca947c10.html">央视网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a2716a3101a87ca947c11.html">中国网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a2718a3101a87ca947c12.html">新华网</a></li>

                  
                  
                    <li><a target="_blank" href="//cn.chinadaily.com.cn/a/202009/02/WS5c0a0aefa3101a87ca947bd1.html">人民网</a></li>

                  
                </ul>
              

            </div>
            <div class="foot-three">
              <div class="foot-three-left"><a href=""><img src="//cn.chinadaily.com.cn/image/2016/p-20.jpg" /></a></div>
              <div class="foot-three-right">
                <ul>
                  <li><a href="//www.12377.cn/" target="_blank">网上有害信息举报专区</a></li>
                  <li><a href="//about.58.com/fqz/fpzn1.html" target="_blank">防范网络诈骗</a></li>
                  <li><a href="//cn.chinadaily.com.cn/2014-09/03/content_18541529.htm" target="_blank">违法和不良信息举报电话</a></li>
                  <li>信息网络传播视听节目许可证0108263号</li>
                  <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032503" target="_blank">京公网安备11010502032503号</a></li>
                  <li>京网文[2011]0283-097号</li>
                  <li><a href="https://beian.miit.gov.cn" target="_blank">京ICP备13028878号-6</a></li>
                  <li>12300电信用户申诉受理中心</li>
                  <li><a>12318全国文化市场举报</a></li>
                  <li><a href="//www.bj.cyberpolice.cn/index.do" target="_blank">网站网络110报警网站</a></li>
                </ul>
              </div>

            </div>
            <div class="foot-four">
              <div class="foot-four-one">中国日报网版权说明：凡注明来源为“中国日报网：XXX（署名）”，除与中国日报网签署内容授权协议的网站外，其他任何网站或单位未经允许禁止转载、使用，违者必究。如需使用，请与010-84883777联系；凡本网注明“来源：XXX（非中国日报网）”的作品，均转载自其它媒体，目的在于传播更多信息，其他媒体如需转载，请与稿件来源方联系，如产生任何问题与本网无关。</div>
            </div>
            <div class="foot-four">
              <div class="foot-four-one">版权保护：本网登载的内容（包括文字、图片、多媒体资讯等）版权属中国日报网（中报国际文化传媒（北京）有限公司）独家所有使用。 未经中国日报网事先协议授权，禁止转载使用。给中国日报网提意见：rx@chinadaily.com.cn</div>
            </div>

          </div>
        </div>
      </div>
    

      <div class="dibu-phone">
        <ul class="dibu-phone-one">
          <li><a href="//cn.chinadaily.com.cn" target="_top">首页</a></li>
          <li><a href="//china.chinadaily.com.cn" target="_top">时政</a></li>
          <li><a href="//world.chinadaily.com.cn" target="_top">资讯</a></li>
          <li><a href="//caijing.chinadaily.com.cn" target="_top">财经</a></li>
          <li><a href="//fashion.chinadaily.com.cn/" target="_top">文化</a></li>
          <li><a href="//pic.chinadaily.com.cn" target="_top">图片</a></li>
          <li><a href="//kan.chinadaily.com.cn" target="_top">视频</a></li>
          <li><a href="//language.chinadaily.com.cn" target="_top">双语</a></li>
        </ul>
        <div class="dibu-phone-two">
          <a href="//cn.chinadaily.com.cn" target="_top">中文</a> | <a href="//www.chinadaily.com.cn" target="_top">English</a>
        </div>
        <div class="copyright">
          中国日报版权所有<br />Content@chinadaily.com.cn
        </div>
      </div>
    
<div id="zd" class="abs"><a id="totop" title="" style="display: none;" shape="rect"></a></div>

<!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / 弹窗 Begin -->
<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2367" xml:space="preserve"></script>
<!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / 弹窗 End -->

<!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / 自定义 Begin -->
<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2370" xml:space="preserve"></script>
<!-- AdSame ShowCode: 新版中文1227 / 中文图片流 15.9.10 / 自定义 End -->
<!-- AdSame ShowCode: 360合作广告 / 中文页 / 内容页矩形 Begin -->
<script type="text/javascript" src="http://same.chinadaily.com.cn/s?z=chinadaily&amp;c=2454" charset="gbk" xml:space="preserve"></script>
<!-- AdSame ShowCode: 360合作广告 / 中文页 / 内容页矩形 End -->
    <!--百度推送-->
    <script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/baidu_push.js" xml:space="preserve"></script>
    <!--百度推送-->
      
    <div id="SCN">&#160;</div>
      
    
      <script type="text/javascript"> 
        //<![CDATA[
        (function() {
          var gw = document.createElement("script"); 
          gw.src = "https://usercollection.chinadaily.com.cn/analytics?token=ismpxACjz6aOJd4lmKACohw=="; 
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(gw, s); 
        })(); 
        //]]>
      </script>
    
    
      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='//cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>
    
  
      <div style="display:none;">
        <!-- CNZZ统计  开始 -->
        <script src="https://s86.cnzz.com/stat.php?id=1975683&amp;web_id=1975683&amp;show=pic1" language="JavaScript"></script>
        <!-- CNZZ统计  结束 --> 
        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript"> _atrk_opts = { atrk_acct:"uM+9j1a8Dy00qn", domain:"chindaily.com.cn",dynamic: true}; (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();</script><noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=uM+9j1a8Dy00qn" style="display:none" height="1" width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->
      </div>

    	
  
  	<script type="text/javascript" language="javascript" src="//cn.chinadaily.com.cn/js/taboolaend.js" atremote="1" xml:space="preserve"></script>
  
      <script type="text/javascript" xml:space="preserve">	
      //<![CDATA[
      function iFrameScn(){
        var oHref0 = (document.getElementById("SCN0").getAttribute("href")?document.getElementById("SCN0").getAttribute("href"):'//www.thesouthchinasea.org.cn/2019-07/26/c_391397.htm');
        var oHref1 = (document.getElementById("SCN1").getAttribute("href")?document.getElementById("SCN1").getAttribute("href"):'//www.thesouthchinasea.org.cn/2019-07/25/c_391409.htm'); 
        var oDiv =  document.getElementById("SCN");
        var oScnIframe = "<iframe src= '"+oHref0+"' style='display:none' ></iframe><iframe src= '"+oHref1+"' style='display:none' ></iframe>";
        oDiv.innerHTML = oScnIframe;
      }
        iFrameScn()

      //]]>
    </script>
</body>
</html>
